@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300&display=swap');
@import "reset.css";
@import "variables.css";
/* COMPONENTS */
@import "components/status-bar.css";
@import "components/nav-var.css";
@import "components/screen-header.css";
@import "components/user-component.css";
/* SCREENS */
@import "screens/login.css";
@import "screens/friends.css";

body{
    font-family: 'Work Sans', sans-serif;
    height: 1000vh;
    color: rgba(0,0,0,1);
}

