.nav{
    background-color: #f9f9fa;
    padding:20px 30px;
    border-top:1px solid rgba(0,0,0,0.2);
    position: fixed;
    bottom:0;
    width: 100%;
    box-sizing: border-box;
}

.nav__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__link {
    columns: #2e363e;
    position: relative;
}

.nav__notification{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius:12.5px;
    color: whitesmoke;
    position: absolute;
    left:15px;
    bottom:15px;
}

.nav__dot{
    display:flex;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    background-color: red;
    position: absolute;
    left: 35px;
    bottom: 26px;
}